<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間割表示</title>
</header>

<div class="app-header">
<h1>オンライン自習室　時間割表示</h1>
<button class="add-reservation-btn" onclick="　　">予定追加</button>
</div>

<div class="learn-table-container">
<h2>学習予定</h2>
<table class="learn-table">
    <thead>
        <tr>
            <th>開始日時</th>
            <th>終了日時</th>
            <th>内容</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2023-11-15 10:00</td>
            <td>2023-11-15 12:00</td>
            <td>微分積分学</td>
        </tr>
        <tr>
            <td>2023-11-16 14:00</td>
            <td>2023-11-16 16:00</td>
            <td>過去問解く</td>
        </tr>
        <!-- データ挿入 -->
    </tbody>
</table>
</div>

<div class="reserve-table-container">
<h2>予約内容</h2>
<table class="reserve-table">
    <thead>
        <tr>
            <th>開始日時</th>
            <th>終了日時</th>
            <th>zoom url</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2023-11-15 10:00</td>
            <td>2023-11-15 12:00</td>
            <td></td>
        </tr>
        <tr>
            <td>2023-11-16 14:00</td>
            <td>2023-11-16 16:00</td>
            <td></td>
        </tr>
        <!-- データ挿入 -->
    </tbody>
</table>
</div>