<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間割表示</title>
</header>


<div class="learn-table-container">
  <h2>学習予定</h2>
  <table class="learn-table">
    <thead>
      <tr>
        <th>開始日時</th>
        <th>終了日時</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |t| %>
        <tr>
          <td><%= t.start %></td>
          <td><%= t.finish %></td>
          <td><%= t.study %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>